#Systemd unit file for running flanneld

 [Unit]
Description=Flanneld overlay address etcd agent
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/flanneld
ExecStart=/mnt/build/bin/flanneld -etcd-endpoints=${FLANNEL_ETCD} -etcd-prefix=${FLANNEL_ETCD_KEY} ${FLANNEL_OPTIONS}


[Install]
WantedBy=docker.service

